@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Lesson 5 exercises</h1>
    <ul>
        <li><a asp-controller="Exercise01">Exercise 1</a></li>
        <li><a asp-controller="Exercise03">Exercise 3</a></li>
        <li><a asp-controller="Exercise04">Exercise 4</a></li>
    </ul>

</body>
</html>
