@{
    ViewBag.Title = "Index";
}

<h2>Lesson 11, Exercises</h2>

<ul>
    <li>@Html.ActionLink("Exercise 1", "Index", "Exercise01")</li>
    <li>@Html.ActionLink("Exercise 2", "Index", "Exercise02")</li>
    <li>@Html.ActionLink("Exercise 3", "Index", "Exercise03")</li>
</ul>
