@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lesson 01 exercises</title>
</head>
<body>
    <ul>
        <li><a asp-controller="DisplayName">Display name</a> </li>
        <li><a asp-controller="Rockbands">Rockbands</a> </li>
        <li><a asp-controller="TimeCalculator">Time Calculator</a> </li>
        <li><a asp-controller="SimpleCalculator">Simple Calculator</a> </li>
    </ul>

</body>
</html>
