@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!doctype html>
<html>

<body>
    <h2>Exercises 5-6, Rolling Dices</h2>
    <ul>
        <li>
            <a asp-controller="DiceRoll">Roll One Dice</a>
        </li>
        <li>
            <a asp-controller="DicesRoll">Roll Two Dices</a>
        </li>
    </ul>
    <p><a href="http://eaaabackend.dk">Home</a></p>
</body>
</html>