
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        Name: @ViewBag.Name<br />
        Age: @ViewBag.Age<br />
        Birthday: @ViewBag.BirthDay.ToString("D") <br />
    </p>

</body>
</html>
